@page
@model AspNetCoreFeatureFlagsDemo.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create Stadium</h1>

<h4>Stadium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Stadium.Name" class="control-label"></label>
                <input asp-for="Stadium.Name" class="form-control" />
                <span asp-validation-for="Stadium.Name" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Stadium.Capacity" class="control-label"></label>
                <input asp-for="Stadium.Capacity" class="form-control" />
                <span asp-validation-for="Stadium.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium.BuiltYear" class="control-label"></label>
                <input asp-for="Stadium.BuiltYear" class="form-control" />
                <span asp-validation-for="Stadium.BuiltYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium.PitchLength" class="control-label"></label>
                <input asp-for="Stadium.PitchLength" class="form-control" />
                <span asp-validation-for="Stadium.PitchLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stadium.PitchWidth" class="control-label"></label>
                <input asp-for="Stadium.PitchWidth" class="form-control" />
                <span asp-validation-for="Stadium.PitchWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
